* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 4vmin;
}
/* html {
    scroll-behavior: smooth;
} */
body {
    box-sizing: border-box;
    background-color:rgb(213, 235, 255);
    font-family: consolas;
}
section {
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 0.4rem gray;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; 
}
.title {
    margin-top: 0;
    text-align: center;
    color: rgb(141, 200, 255);
}
article {
    border-top: 1px solid rgb(141, 200, 255);
}
/* .gold, .silver, .bronze {font-weight: bold;}

.gold {color: gold;}
.silver {color: silver;}
.bronze {color: #cd7f32;} */

/* .tag-explanation {
    font-style: italic;
    color: gray;
} */
.block {
    background-color: orange;
}
.block.semantic {
    background-color: limegreen;
}
#html-tags p {
    /* display: inline; */
}